<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Random HTTP Status Code</title>
</head>
<body>
    <div class="card">
        <h1>STATUS CODE</h1>
        <p id="code">{{.Code}}</p>
   </div>
   <div class="footer">
    <p><a href="https://github.com/sidney-neto/random-http-status-code">View this project on GitHub</a></p>
  </div>
</body>
</html>
